<div class="credits <%= props[:modifier] %>">
  <p>
    Created by
    <a href="http://johnholdun.com" target="_blank">
      John&nbsp;Holdun
    </a>
  </p>

  <p>
    Map Marker icon by Garrett Knoll for
    <a
      href="https://thenounproject.com/term/geolocation/28730/"
      target="_blank"
    >
      The&nbsp;Noun&nbsp;Project
    </a>
  </p>

  <p>
    Data courtesy of
    <a
      href="https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/xx67-kt59"
      target="_blank"
    >
      NYC&nbsp;OpenData
    </a>
  </p>
</div>
