<header class="masthead">
  <h1 class="masthead__brand">
    <a href="/">
      Health Letters
    </a>
  </h1>

  <form class="masthead__form" data-js="geolocate-form" action="/search" method="post">
    <button class="masthead__form__button">
      Find me
    </button>
  </form>
</header>
